doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        title placeholder
        meta(name="description" content="placeholder")
        meta(name="author" content="placeholder")

    body
        .section.header
            .container
                .row.full-height
                    div.centre.vcentre
                        h1.animated.fadeInUp ARAN LONG
                        h5.animated.fadeInUp TECHNICAL CONSULTANT
        .section.para
            .container
                .row
                    .one-half.column.para
                        h5 ABOUT
                        p Aran is a technical consultant and software engineer. He has travelled the world, working on projects ranging from Blockchain IOT security to tailored travel with machine learning.
                        p Aran is currently seeking a placement with an enthusiastic and aspiring company from September to Feburary, 2017. 
                    .one-half.column.para
                        h5 HELLO
