doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        title placeholder
        meta(name="description" content="placeholder")
        meta(name="author" content="placeholder")

    body
        .section
            .container
                .row.full-height
                    div.centre.vcentre
                        img(src="./logo.png").image
                        br
                        br
                        h3.heading COMING SOON
                        br
                        a(href="/resume").link RESUME
                        a.link  | 
                        a(href="https://blog.aran.site").link BLOG
                        a.link  | 
                        a(href="https://linkedin.com/in/aranlong").link CONTACT
